* {
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.wrapper {
    display: grid;
    background-color: aliceblue;
    height: 100vh;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 20% auto;
    grid-template-rows: 20% auto 10%;
    grid-template-areas: 
        "header header"
        "aside article"
        "footer footer"
    ;
    grid-gap: 5px;
}

header {
    grid-area: header;
    color: white;
    background-color: rgb(6, 40, 73);
    align-content: center;
    padding: 5px;
}

aside {
    grid-area: aside;
    color: white;
    background-color: rgb(77, 77, 77);
    padding: 5px;
    align-content: center;
}

article {
    grid-area: article;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    color: white;
    background-color: rgb(137, 158, 177);
    padding: 5px;
    grid-gap: 5px;
    align-content: center;
}

article div {
    grid-row: 2;
    background-color: rgb(62, 105, 143);
    align-content: center;
    padding: 5px;
}


footer {
    grid-area: footer;
    color: white;
    background-color: rgb(6, 40, 73);
    align-content: center;
    padding: 5px;
}